.card {
  width: 320px;
  height: 200px;
  min-width: 280px;
  background-color: gray;
  border-radius: 20px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px #02020240, 0 10px 10px #00000038;
  }
}
